body {
    background-image:url(https://img.freepik.com/fotos-premium/fileiras-de-vegetais-de-pimenta-crescem-no-campo-agricultura-agricultura_72572-4.jpg?w=2000)
}

header {
    background-color: rgb(29, 169, 104);    
}

.logo{
    padding-top: 1%;
    padding-left: 1%;
}

.h1{
    color: rgb(255, 255, 255);
    text-align:top;
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.twitter{
    width:35px;
    height:35px;
}

.intagram{
    width:35px;
    height:35px;
    
}

.facebook{
    width:35px;
    height:35px;
    text-align: end;
}