body {
    background-image:url(https://img.freepik.com/fotos-premium/fileiras-de-vegetais-de-pimenta-crescem-no-campo-agricultura-agricultura_72572-4.jpg?w=2000)
}

header {
    background-color: rgb(52, 68, 63);
    height: 40%;
}

h1 {
    color: rgb(151, 143, 143);
}